
        table{
            border-collapse: collapse;
            width: 100%;
            border-radius: 30px;
            text-align: center;
            overflow: hidden;
        }

        tr{
            padding: 8px;
        }

        th{
            background-color: blue;
        }

        th,td{
            padding:8px;
            border: 1px solid #ddd;
        }

        .highlight{
           background-color:#f2f2f2; 
        }
